.tab {
  display: inline-block;
  width: 200px;
  padding: 15px;
  margin: 15px 0 0 15px;
  font-size: 1rem;
  background-color: #63ffb0;
  border: solid 1px black;
  border-radius: 8px 8px 0 0;
  text-transform: uppercase;
  cursor: url('../../../assets/eyes-cursor.svg') 5 12, auto;
}

.selectedTab {
  color: black;
  background-color: white;
  border-bottom: solid 1px white;
  font-weight: bold;
  cursor: url('../../../assets/pizza-cursor.svg') 2 2, auto;
}

.selectedTab a:hover {
  color: black;
  text-decoration: none;
}

.container {
  background: white;
  width: 460px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: none;
  padding: 20px;
  padding-bottom: 0px;
  border-radius: 10px;
}

.merchantContainer {
  display: flex;
  margin: auto;
  padding: 10px;
  width: 440px;
  text-align: left;
  color: black;
}

.showLessIcon {
  width: 20px;
  height: 20px;
  margin: 10px;
  align-self: center;
}

.merchantNameAndTransactionsContainer {
  width: 230px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  justify-content: center;
}

.merchantLogo {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 50%;
}

.merchantName {
  font-size: 1rem;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.merchantButton {
  border-radius: 10px;
  background: #ffe36d;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  width: 150px;
  height: 40px;
  margin: 10px;
  align-self: center;
  cursor: url('../../../assets/eyes-cursor.svg') 5 12, auto;
}

thead {
  display: none;
}

.transactionsContainer {
  color: black;
  display: flex;
  flex-direction: column;
}

.emptyState {
  background-color: white;
  color: black;
  padding-bottom: 20px;
}
