.transactionsContainer {
  color: black;
  display: flex;
  flex-direction: column;
  cursor: url('../../assets/eyes-cursor.svg') 5 12, auto;
}

.transactionsTable {
  margin-left: 97px;
  margin-bottom: 20px;
  margin-right: 19px;
}
