.transactionsContainer {
  color: black;
  display: flex;
  flex-direction: column;
  cursor: url('../../assets/eyes-cursor.svg') 5 12, auto;
}

.transactionsTable {
  margin-left: 73px;
  margin-right: 15px;
  margin-bottom: 2px;
}
