.App {
  text-align: center;
  min-height: 100vh;
  background-color: #21248d;
  background-image: url('./assets/tentacle-left.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 10%;
  color: white;
  -webkit-font-smoothing: antialiased;
}
